<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="EDMclassContainer" connectionString="metadata=res://*/EDMclass.csdl|res://*/EDMclass.ssdl|res://*/EDMclass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.150.100;initial catalog=DICS_Test;persist security info=True;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DICS_DBEntities" connectionString="metadata=res://*/DICS_DB.csdl|res://*/DICS_DB.ssdl|res://*/DICS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.150.200;initial catalog=DICS_DB;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>