/.vs/
/EyeOfSauron/.vs/
/EyeOfSauron/bin/
/EyeOfSauron/obj/
/TheProject/bin/
/TheProject/obj/
/Sauron/bin/
/Sauron/obj/
/Container/bin/
/Container/obj/
/test/bin/
/test/obj/
/Controler/bin/
/Controler/obj/
/ExamManager/bin/
/ExamManager/obj/
/ExamManager2/bin/
/ExamManager2/obj/