<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DICS_DBEntities" connectionString="metadata=res://*/DICS_DB.csdl|res://*/DICS_DB.ssdl|res://*/DICS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.150.100;initial catalog=DICS_DB;persist security info=True;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>